@font-face {
    font-family: 'Voltec';
    src: url("../fonts/Voltec.ttf");
}

@font-face {
    font-family: 'Aero';
    src: url("../fonts/Aero.ttf");
}

body {
    margin: 0;
    background-image: url("../images/sci-fi-bg.png");
    font-family: 'Aero';
    color: rgb(196, 252, 251);
}

/* remove bullet */
li {
    list-style-type: none;
    padding: 10px;
}

.container {
    width: 100vh;
    height: 100vh;
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}


/* --- Panel CSS --- */

.panelsContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    z-index: 1;
    pointer-events: none
}

.leftPanelsContainer {
    width: 60%;
    display: flex;
    flex-direction: column-reverse;
}

.rightPanelsContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.panel {
    pointer-events: auto;
}

.panel > div {
    padding: 10px;
    background-color: rgb(17 17 84 / 75%);
}

.panelAnchor {
}

.panelBody {

}


/* --- Timeline CSS --- */

.timeline {
    width: 723px;
}

.timeline > div {
    border-top: 3px solid rgb(196, 252, 251);
    border-right: 3px solid rgb(196, 252, 251);

}

.timelineAnchor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#timelineCanvas {
    height: 100px;
    width: 700px;
}


/* --- Infopanel CSS --- */

.infopanel {
    min-height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.infopanel > div {
    border-left: 3px solid rgb(196, 252, 251);
    border-bottom: 3px solid rgb(196, 252, 251);
}

.infopanelAnchor {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 10%;
}

.infopanelTitle {
    transform: rotate(-90deg);
    margin-top: 60px;
}

.infopanelBody {
    min-width: 25vh;
}


/* --- Routepanel CSS --- */

.routepanel {
    min-height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.routepanel > div {
    border-top: 3px solid rgb(196, 252, 251);
    border-left: 3px solid rgb(196, 252, 251);
}

.routepanelAnchor {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 10%
}

.routepanelTitle {
    transform: rotate(-90deg);
    margin-bottom: 30px;
}

.routepanelBody {
    min-width: 25vh;
}


/* --- Tooltip CSS --- */

#info-item-tooltip {
    fill: #707070;
    fill-opacity: 0.2;
    pointer-events: none;
}
