@font-face {
    font-family: 'Voltec';
    src: url("../fonts/Voltec.ttf");
}

@font-face {
    font-family: 'Aero';
    src: url("../fonts/Aero.ttf");
}

body {
    margin: 0;
    background-image: url("../images/sci-fi-bg.png");
    font-family: 'Aero';
    color: rgb(196, 252, 251);
    height: 100%;
    overflow: hidden
}

/* remove bullet */
li {
    list-style-type: none;
    padding: 10px;
}

.container {
    width: 100vh;
    height: 100vh;
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}


/* --- Panel CSS --- */

.panelsContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    z-index: 1;
    pointer-events: none
}

.leftPanelsContainer {
    width: 60%;
    display: flex;
    flex-direction: column-reverse;
}

.eventTypeSelector {
    position :relative;
    right:5%
}
.rightPanelsContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.panel {
}

.panel > div {
    padding: 10px;
    background-color: rgb(17 17 84 / 75%);
    pointer-events: auto;
}

.panelAnchor {
}

.panelBody {

}


/* --- Timeline CSS --- */

.timeline {
    width: 723px;
}

.timeline > div {
    border-top: 3px solid rgb(196, 252, 251);
    border-right: 3px solid rgb(196, 252, 251);

}

.timelineAnchor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
    clip-path: polygon(100% 100%,95% 7%, 0% 7%, 0% 100%);
}

.timelineAnchor:hover{
    background-color:rgb(196, 252, 251);
    color:rgb(20, 30, 88);  
}

#timelineCanvas {
    height: 100px;
    width: 700px;
}


/* --- Infopanel CSS --- */

.infopanel {
    min-height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.infopanel > div {
    border-left: 3px solid rgb(196, 252, 251);
    border-bottom: 3px solid rgb(196, 252, 251);
}


.infopanelAnchor {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 10%;
    /*test de clip*/
    clip-path: polygon(4% 75%, 4% 0%, 100% 0%, 100% 100%);

    /*pour faire une jolie transition de couleur quand on passe dessus*/
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.infopanelAnchor:hover{
    background-color:rgb(196, 216, 252);
    color:rgb(20, 30, 88);
}

.infopanelTitle {
    transform: rotate(-90deg);
    margin-top: 60px;
}


#commentary{
    display:block;
    height: 250px;
    overflow-y: scroll;
}
.infopanelBody {
    min-width: 25vh;
}

#togglecommentary{
    border: 3px solid rgb(196, 252, 251);
    background-color: rgb(20, 30, 88);
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    width:120px;
}

#togglecommentary:hover{
    background-color:rgb(196, 252, 251);
    color:rgb(20, 30, 88);
}

#togglecommentary2{
    border: 3px solid rgb(196, 252, 251);
    background-color: rgb(20, 30, 88);
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    width:120px;
}

#togglecommentary2:hover{
    background-color:rgb(196, 252, 251);
    color:rgb(20, 30, 88);
}


#addDestination {
    border: 3px solid rgb(196, 252, 251);
    background-color: rgb(20, 30, 88);
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    width:120px;
}

#addDestination:hover{
    background-color:rgb(196, 252, 251);
    color:rgb(20, 30, 88);
}

/* --- Routepanel CSS --- */

.routepanel {
    min-height: 40vh;
    right: "-500px";
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.routepanel > div {
    border-top: 3px solid rgb(196, 252, 251);
    border-left: 3px solid rgb(196, 252, 251);
}

.routepanelAnchor {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 10%;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
    clip-path: polygon(4% 25%,4% 100%, 100% 100%, 100% 0%);
}

.routepanelAnchor:hover{
    background-color:rgb(196, 252, 251);
    color:rgb(20, 30, 88);
    
}

.routepanelTitle {
    transform: rotat(-90deg);
    margin-bottom: 30px;
}

.routepanelBody {
    min-width: 25vh;
    
}


/* --- Tooltip CSS --- */

#info-item-tooltip {
    fill: #707070;
    fill-opacity: 0.2;
    pointer-events: none;
}
