@font-face {
    font-family: 'Voltec';
    src: url("../fonts/Voltec.ttf");
}

@font-face {
    font-family: 'Aero';
    src: url("../fonts/Aero.ttf");
}

body {
    margin: 0;
    background-image: url("../images/sci-fi-bg.png");
    background-size:30%;
    background-position-y: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    color: rgb(196, 252, 251);
    height: 100%;
    overflow: hidden
}
/*Sexy Glowing effect ( ͡° ͜ʖ ͡°) */

.glow {
    -webkit-animation: glow 1s ease-in-out alternate;
    -moz-animation: glow 1s ease-in-out alternate;
    animation: glow 1s ease-in-out alternate;
  }

  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px rgb(196, 252, 251), 0 0 20px rgb(196, 252, 251), 0 0 30px #0400e6, 0 0 70px #0400e6, 0 0 150px #0400e6;
    }
    to {
      text-shadow: 0 0 20px rgb(196, 252, 251), 0 0 30px #684dff,  0 0 50px #684dff, 0 0 60px #684dff, 0 0 80px #684dff, 0 0 50 #684dff, 0 0 20 #684dff ;
    }
  }

/* remove bullet */
li {
    list-style-type: none;
    padding: 10px;
}

.container {
    width: 100vh;
    height: 100vh;
}

.map {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.scrolltext{
    display:block;
    height: 339px;
    overflow-y: scroll;
    text-align:center;
    padding-right: 5%
    }

.hiddenpanel{display:none}

/* --- Panel CSS --- */

.panelsContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    z-index: 1;
    pointer-events: none
}

.leftPanelsContainer {
    width: 60%;
    display: flex;
    flex-direction: column-reverse;
}

.eventTypeSelector {
    position :relative;
    right:5%
}
.rightPanelsContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topPanelContainer{
    width: 100%;
    height: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    float:left;
}

.logoline{
    position:absolute;
    left: 0px;
    width:100%;
    background-color: none;
    border-bottom: 2px solid rgb(196, 252, 251);
}

.logo{
    position: relative;
    left: center;
    top:5%;
    width: 40px;
    height: 40px;
    display:block;
    background-color: rgb(196 252 251 / 50%);
    border:2px solid rgb(196, 252, 251);
    background-image:url("logo.png");
    background-repeat:no-repeat;
    background-size: 60%;
    background-position-y:center;
    background-position-x:center;
    border-radius: 0px 0px 20px 20px;
}

.panel {
}

.panel > div {
    padding: 10px;
    background-color: rgb(20 20 100 / 75%);
    pointer-events: auto;
}

.panelAnchor {
    font-family: 'Aero';
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.panelAnchor:hover {

    background-color:rgb(196, 252, 251);
    color:rgb(20, 30, 88);
}

.panelBody {

}

.panelbutton{
    border: 2px solid rgb(196, 252, 251);
    background-color: rgb(20, 30, 88);
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    color: #fff;
    /* width:120px; */
    text-align: center;
}

.panelbutton:hover{
    background-color:rgb(196, 252, 251);
    color:rgb(20, 30, 88);
}

/* --- Timeline CSS --- */

.timeline {
    width: 920px;
}

.timelineAnchor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    clip-path: polygon(100% 100%,95% 7%, 0% 7%, 0% 100%);
    font-size: 20px;
}

.timelineBody {
    border-top: 3px solid rgb(196, 252, 251);
    border-right: 3px solid rgb(196, 252, 251);
}

.eventTypeSelector {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#timelineCanvas {
    height: 100px;
    width: 900px;
}

.timelineSubCanvas {
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.yearInput {
    width: 50px;
    text-align: center;
    padding: 5px;
    font-family: 'Aero';
    color: rgb(255, 255, 255);
    border: 3px solid rgb(196, 252, 251);
    border-radius: 3px;
    background-color: black;
}

.count {
    margin: 0px 10px 0px 5px;
}


/* --- Infopanel CSS --- */

.infopanel {
    min-height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.infopanelAnchor {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 10%;
    clip-path: polygon(4% 75%, 4% 0%, 100% 0%, 100% 100%);
}

.infopanelTitle {
    transform: rotate(-90deg);
    font-size: 20px;
    margin-top: 25px;
}

.infopanelBody {
    border-left: 3px solid rgb(196, 252, 251);
    border-bottom: 3px solid rgb(196, 252, 251);
    min-width: 28vh;
    max-width: 28vh;
    text-align: left;
}

.subinfopanel {
    padding-left: 5%;
    border:2px solid rgb(196, 252, 251);
    border-radius:0px 10px 10px 10px;
}

#infobuttons {
    padding-top: 5px;
}

#NoSelectedEvent {
    text-align: center;
    width: 100%;
    height: 100%;
    background-image:url("logo.png");
    background-repeat:no-repeat;
    background-size: 100%;
    background-position-y:center;
    background-position-x:center;
    filter:drop-shadow(0 0 0.75rem rgb(196, 252, 251))
}

.logoBackground {
    background-image:url("logo.png");
    background-repeat:no-repeat;
    background-size: 80%;
    background-position-y:65%;
    background-position-x:center;
    filter:drop-shadow(0 0 0.75rem rgb(196, 252, 251))
}
/* --- Routepanel CSS --- */

.routepanel {
    min-height: 40vh;
    right: "-500px";
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.routepanelAnchor {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 10%;
    clip-path: polygon(4% 25%,4% 100%, 100% 100%, 100% 0%);
}

.routepanelTitle {
    transform: rotate(-90deg);
    font-size: 20px;
    margin-bottom: 40px;
}

.routepanelBody {
    border-top: 3px solid rgb(196, 252, 251);
    border-left: 3px solid rgb(196, 252, 251);
    min-width: 35vh;
    /*font-size: 18px;*/
}

.destinationline{
    display: flex;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    cursor: pointer;
    justify-content: right;
    
}

.destinationtext{

    flex-grow: 8;
    text-align: left;
}

.movebutton{
    border: 1px solid rgb(196, 252, 251);
    background-color: rgb(20, 30, 88);
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:10px;
    color: #fff;
    /* align-self: flex-end; */
    padding-left: 5px;
    flex-grow: 1;
    height: 40px;
    /*width: 10px;*/
}

.movebutton:hover{
    background-color:rgb(196, 252, 251);
    color:rgb(20, 30, 88);
}

/* used by map.js */

#map {
    /* display: flex;
    justify-content: center; */
    /* pointer-events: none; */
    /* align-items: center; */
}

/* --- Tooltip --- */
#info_event_tooltip {
    fill: #707070;
    fill-opacity: 0.2;
    pointer-events: none;
    size: 10px;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: rgb(17 17 84);
    padding: 10px;
    position: absolute;
    z-index: 10;
}

.sb5:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid rgb(196, 252, 251);
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(196, 252, 251);
    border-bottom: 10px solid transparent;
    left: 5px;
    bottom: -20px;
  }
  
  .sb5:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid  rgb(17 17 84);
    border-right: 10px solid transparent;
    border-top: 10px solid  rgb(17 17 84);
    border-bottom: 10px solid transparent;
    left: 6px;
    bottom: -17px;
  }

#coordinates_tooltip div {
    fill: #707070;
    fill-opacity: 0.2;
    pointer-events: none;
    size: 10px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: rgb(17 17 84);
    padding: 10px;
    position: absolute;
    z-index: 10;
}
/* used by map.js */
.countries {
    /* normal mode */
    /*fill: #fff;*/
    /*stroke: #ccc;*/
    /*stroke-width: 0.1px;*/

    /* Dark mode*/
    fill: rgb(26, 28, 71);
    stroke: rgb(223, 223, 223);
    stroke-width: 0.2px;


    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
  }



   /* Style the tab */
.tab {
    overflow: hidden;
    width:fit-content;
    border: 1px solid rgb(196, 252, 251);
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px 5px 0px 0px;
  }

  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 3px 4px;
    transition: 0.3s;
    border-right: 1px solid rgb(196, 252, 251);
    border-left: 1px solid rgb(196, 252, 251);;
    color: #fff;
    /* width:120px; */
    text-align: center;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color:rgb(174, 225, 224);
    color:rgb(20, 30, 88);
}

  /* Create an active/current tablink class */
  .tab button.active {
    background-color:rgb(196, 252, 251);
    color:rgb(20, 30, 88);
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 4px 10px;
    border: 1px solid #ccc;
    border-top: none;
  }
